* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-evenly;
   background-color: lightblue;
    padding: 15px 0 15px 50px;
    align-items: center;
}
h1{
    font-size: xx-large;
}
input{
    padding: 10px;
    border-radius: 5px;
}

.a {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin: 40px;

}

img {
    width: 250px;
    height: 250px;
border-radius: 10px;
border: 1px solid black;
cursor: pointer;
}


img:hover{
    scale: 0.9;
    transition: all ease 1s;

}

h2 {
    text-align: center;
}



.btn:hover{
   transition: all ease 0.2s;
color: white;
}

.btn{
    border: 1px solid black;
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
    background-color:lightblue;
    color: black;

}



h4{
    margin-left: 10px;
}
















